firstmap.umap filter=lfs diff=lfs merge=lfs -text
firstmap_foliage_00.umap filter=lfs diff=lfs merge=lfs -text
firstmap_foliage_01.umap filter=lfs diff=lfs merge=lfs -text
firstmap_foliage_02.umap filter=lfs diff=lfs merge=lfs -text
M_Tile_AlpinePatch001.uasset filter=lfs diff=lfs merge=lfs -text
T_AlpinePatch001_D_alt_R.uasset filter=lfs diff=lfs merge=lfs -text
T_AlpinePatch001_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_AlpinePatch001_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Forest_Path_001B_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_Forest_Path_001B_N.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_RockFace003_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_RockFace003_N.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_StonePath_Tile_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_StonePath_Tile_N.uasset filter=lfs diff=lfs merge=lfs -text
T_Boulder05_N.uasset filter=lfs diff=lfs merge=lfs -text
T_GroundRevealRock002_N.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_LargeVolcanicRock_001_D2_R.uasset filter=lfs diff=lfs merge=lfs -text
T_GDC_LargeVolcanicRock_001_N.uasset filter=lfs diff=lfs merge=lfs -text
T_LargePlainsBoulder002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_Vegetation_Debris_002_D_R.uasset filter=lfs diff=lfs merge=lfs -text
T_Vegetation_Debris_002_N.uasset filter=lfs diff=lfs merge=lfs -text
